$gray-transparent-1: rgba(24,24,27,0.1);
$gray-transparent-1-2: rgba(24,24,27,0.2);
$gray-transparent-2: rgba(24,24,29,0.3);
$gray-transparent-3: rgba(24,24,31,0.5);
$gray-transparent-4: rgba(24,24,33,0.7);
$gray-transparent-5: rgba(24,24,35,0.8);
$border-default: 1px solid #{$gray-transparent-1};
$border-dark: 1px solid #{$gray-transparent-2};
$color-blue-highlight: #099FEA;

$bg-light: #F7F7F8;
$bg-highlighted: #e6eaf1;
$warning-color: #db4141;

$navbar-height:64px;