.view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .TopBar {
    flex-shrink: 0;
  }
  .main {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    .column {
      max-height: 100%;
      overflow-y: auto;
      &.center {
        padding-top: 48px;
        box-sizing: border-box;
      }
    }
    .component-list {
      position: absolute;
      top: 0px;
      right: 0px;
      transition: transform 0.3s ease;
      &:not(.active) {
        transform: translateX(100%);
      }
    }
  }
}
