.view {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .main {
    position: relative;
    flex-grow: 1;
    .component-list {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      transition: transform 0.3s ease;
      &:not(.active) {
        transform: translateX(100%);
      }
    }
  }
}
